


.construction-about{
	.widget_text{
		.widgettitle{
			margin-bottom: 10px;
			text-transform: capitalize;
			font-size: 18px;
			font-weight: 600;
		}
	}
	.about-right{
		.widget_text{
			padding-left: 20px;
		}
	}
}