
//Header

.header-container {
	&.portfolio1 {
		border-bottom: 3px double @bordercolor;
		display: block;
		.global-table {
		    height: 97px;
		}
		.logo-wrap {
			border-right: 1px solid @bordercolor;
		}
		.content-header {
			padding: 30px 0 31px;
			border-left: 1px solid @bordercolor;
		}
		.header {
			.horizontal-menu {
				#mega_main_menu_first {
					& > .menu_holder {
						.menu_inner {
							& > ul {
								text-align: right;
								& > li {
									& > a.item_link {
										padding: 29px 10px 28px;
										.link_text {
											padding: 0 15px;
											border-radius: 3px;
											&:after {
												margin: 0 0 0 5px;
												color: @primarycolor;
											}
										}
									}
									&:hover, &.current-menu-ancestor, &.current-menu-item {
										& > a.item_link {
											.link_text {
												background: @primarycolor;
												color: #fff;
												&:after {
													color: #fff;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.main-container {
	.page-title {
		text-align: center;
		h1 {
			font-size: 40px;
			font-weight: 400;
		}
	}
	.portfolio1-static1 {
		h2 {
			font-size: 30px;
			font-weight: 400;
			strong {
				font-weight: 700;
			}
		}
		p {
			color: @greycolor;
			font-size: 16px;
			font-style: italic;
		}
		.banner-content {
			position: relative; 
			.more-info {
				border: 2px solid #4d4d55;
				border-radius: 3px;
				color: #4d4d55;
				display: block;
				line-height: 50px;
				position: absolute;
				padding: 0 35px;
				font-size: 14px;
				font-style: normal;
				font-weight: 700;
				text-transform: uppercase;
				top: 50%;
				right: 0;
				margin-top: -27px;
				&:after {
					display: inline-block;
					content: "\f107";
					font-family: FontAwesome;
					margin-left: 10px;
				}
				&:hover {
					border-color: @primarycolor;
					color: @primarycolor;
				}
			}
		}
	}
	.tilte-portfolio1 {
		.wpb_wrapper {
			& > h3 {
				color: @headingcolor;
				font-size: 28px;
				font-family: @headingfont; 
				&:before {
					background: @primarycolor;
					content: "";
					display: block;
					height: 12px;
					width: 12px; 
					margin-bottom: 5px;
				}
			}
		} 
	}
	.portfolio1-brandlogo {
		.brands-carousel {
			border: 1px solid #dedede;
			&:after {
				content: "";
				display: table;
				clear: both;
			}
			.group {
				border-right: 1px solid #dedede;
				width: 33.333%;
				float: left;
				&:last-child {
					border-right: 0;
				}
				div {
					border-bottom: 1px solid #dedede;
					&:last-child {
						border-bottom: 0;
					}
				}
			}
		} 
	}
	.portfolio1-testimonial {
		.testimonials-list {
			.slick-list {
				padding: 0;
				.quote {
					blockquote {
						background: #fff;
						border: 0;
						padding: 30px;
						text-align: left;
						position: relative;
						margin-bottom: 30px;
						&:after {
							content: "";
							height: 16px;
							width: 24px;
							display: block;
							background: linear-gradient(30deg, transparent 49%, rgba(214, 214, 214, 1) 50%);
							position: absolute;
							left: 0;
							bottom: -16px;
						}
						p {
							font-size: 16px;
							font-style: italic;
						}
					}
					img {
						border-radius: 100%;
						margin-left: 30px;
						float: left;
					}
					.author {
						margin-left: 150px;
						text-align: left;
						display: block;
						padding-top: 20px;
						span {
							display: block;
							font-weight: 600;
							font-size: 18px;
							&.title {
								font-size: 14px;
								font-weight: 400;
							}
						}
					}
				}
			}
		}
		.slick-slider {
			margin: 0;
			.slick-dots {
				text-align: left;
				li {
					margin: 0 3px;
					button {
						background: none;
						border-radius: 100%;
						border: 2px solid #dbdbdb;
						width: 14px;
						height: 14px;
					}
					&:hover, &.slick-active {
						button {
							background: #dbdbdb;
						}
					}
				}
			}
		}
	} 
}