
//Header

.home {
	.header-container {
		&.event1 {
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}
.header-container {
	&.event1 {

		.global-table {
			height: 90px;
		}
		.logo {
			padding: 0;
		}
		.social-icons {
			float: right;
			padding: 33px 0;
			li {
				display: inline-block;
				padding: 0 7px;
				a {
					color: @headerlinkcolor;
					display: block;
					&:hover {
						color: @headerlinkhovercolor;
					}
				}
			}
		}
		.header { 
			.horizontal-menu {
				float: right;
				#mega_main_menu_first {
					& > .menu_holder {
						.menu_inner {
							& > ul {
								& > li {
									& > a.item_link {
										padding: 25px 23px;
										.link_text {
											&:after {
												display: none;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	&.event2 {
		background: linear-gradient(left, @primarycolor 50% , @headerbg 50%);
		background: -webkit-linear-gradient(left, @primarycolor 50% , @headerbg 50%);
	    background: -moz-linear-gradient(left, @primarycolor 50% , @headerbg 50%);
	    background: -o-linear-gradient(left, @primarycolor 50% , @headerbg 50%); 
		.global-table {
			height: 90px;
		}
		.logo {
			padding: 0;
		}
		.social-icons {
			float: right;
			padding: 33px 0;
			li {
				display: inline-block;
				padding: 0 7px;
				a {
					color: @headerlinkcolor;
					display: block;
					&:hover {
						color: @headerlinkhovercolor;
					}
				}
			}
		}
		.header {
			background: none;
			.box-left {
				background: @primarycolor;
				position: relative;
				&:after {
					background: linear-gradient(40deg, @primarycolor 50% , @headerbg 50%);
					background: -webkit-linear-gradient(40deg, @primarycolor 50% , @headerbg 50%);
				    background: -moz-linear-gradient(40deg, @primarycolor 50% , @headerbg 50%);
				    background: -o-linear-gradient(40deg, @primarycolor 50% , @headerbg 50%); 
					content: "";
					display: block;
					width: 80px;
					height: 100%;
					position: absolute;
					right: 0;
					top: 0;
				}
			}
			.box-right {
				background: @headerbg;
			}
			.horizontal-menu {
				float: right;
				#mega_main_menu_first {
					& > .menu_holder {
						.menu_inner {
							& > ul {
								& > li {
									& > a.item_link {
										padding: 25px 23px;
										.link_text {
											&:after {
												display: none;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

//footer 

.footer { 
	&.event1 {
		.widget-title,.widgettitle {
			color: #fff;
		}
		.footer-top {
			.footer-top-inner {
				.widget {
					&.widget-social {
						.social-icons {
							li {
								a {
									color: @footercolor;
									&:hover {
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
		}
	} 
	&.event2 {
		.widget-title,.widgettitle {
			color: #fff;
		}
		.widget_wysija {
			.wysija-paragraph {
				input {
					width: 100%;
					border: 1px solid @footercolor;
					border-radius: 2px;
					background: none;
					padding: 5px 10px;
					font-style: italic;
				}
			}
			.wysija-submit {
				background: #1171d1;
				border: 0;
				border-radius: 2px;
				color: #fff;
				text-transform: uppercase;
				font-size: 11px;
				padding: 0 20px;
				line-height: 30px;
				&:hover {
					background: @linkcolor;
				}
			}
		}
		.footer-bottom {
			.footer-bottom-inner {
				.widget {
					&.widget-social {
						.social-icons {
							text-align: right;
							li {
								display: inline-block;
								margin-left: 30px;
								position: relative;
								a {
									display: block;
									color: @footercolor;
									&:hover {
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.main-container {
	.event1-static1 {
		text-align: center;
		.content-static {
			background: url(../images/event1_img1.png) no-repeat 50% 0;
			padding-top: 80px;
			h4 {
				font-size: 20px;
				margin-bottom: 20px;
			}
			h3 {
				margin-bottom: 20px;
			}
			.button-container {
				a {
					border-radius: 3px;
					color: #fff;
					display: inline-block;
					line-height: 50px;
					padding: 0 25px;
					text-transform: uppercase;
					vertical-align: middle;
					margin:  20px 5px 0;
					&.ticket {
						background: @linkcolor;
						&:hover {
							background: @primarycolor;
						}
					}
					&.viewmore {
						background: @primarycolor;
						&:hover {
							background: @linkcolor;
						}
					}
				}
			}
		}
	}
	.event-title {
		h3 {
			font-size: 36px !important;
			font-weight: 700;
			color: @headingcolor;
			text-transform: uppercase;	
			text-align: center;
		}
	} 
	.event2-title {
		h3 {
			font-size: 30px !important;
			font-weight: 400;
			color: @headingcolor;
			text-transform: uppercase;	
			text-align: center;
		}
	} 
	.video-static {
		.description {
			line-height: 26px;
			a {
				margin-top: 20px;
				background: @primarycolor;
				border-radius: 4px;
				display: inline-block;
				color: #fff;
				font-size: 18px;
				font-weight: 700;
				line-height: 50px;
				padding: 0 25px;
				text-transform: uppercase;
				&:hover {
					background: @linkcolor;
				}
			}
		}
	}
	.event2-static1 {
		background: linear-gradient(40deg, #f7f7f7 50% , transparent 50%);
		background: -webkit-linear-gradient(40deg, #f7f7f7 50% , transparent 50%);
	    background: -moz-linear-gradient(40deg, #f7f7f7 50% , transparent 50%);
	    background: -o-linear-gradient(40deg, #f7f7f7 50% , transparent 50%); 
		text-align: center;
		.content-static {  
			.text-content {
				width: 80%;
				margin: 0 auto 30px;
			}
			h3 {
				font-size: 30px;
				margin-bottom: 20px;
				text-transform: uppercase;
				font-weight: 400;
			} 
			.button-container {
				a {
					border-radius: 3px;
					color: #fff;
					display: inline-block;
					line-height: 50px;
					padding: 0 25px;
					text-transform: uppercase;
					vertical-align: middle;
					margin:  20px 5px 0;
					&.ticket {
						background: @linkcolor;
						&:hover {
							background: @primarycolor;
						}
					}
					&.viewmore {
						background: @primarycolor;
						&:hover {
							background: @linkcolor;
						}
					}
				}
			}
		}
	}
	.event2-brands-logo {
		.event2-title {
			width: 80%;
			margin: auto;
			text-align: center;
			position: relative;
			padding-bottom: 30px;
			margin-bottom: 30px;
			&:after {
				background: @primarycolor;
				content: "";
				height: 3px;
				width: 90px;
				position: absolute;
				bottom: 0;
				margin: auto;
				left: 0;
				right: 0;
			}
			h3 {
				margin-bottom: 20px;
			}
		}
	}
	.latest-posts {
		&.event2 {
			background-attachment: fixed;
			.event2-title {
				h3 {
					color: #fff;
				} 
			}
			.posts-carousel {
				.item-col {
					.post-wrapper {
						background: #fff;
						padding: 5px;
					}
					.post-info {
						position: static;
						background: none;
						padding: 20px 10px;
						h3.post-title {
							a {
								color: @headingcolor;
								font-weight: 700;
								font-size: 20px;
								text-transform: capitalize;
								position: relative;
								padding-bottom: 15px;
								margin-bottom: 15px;
								&:hover {
									color: @linkcolor;
								}
								&:before {
									content: "";
									display: block;
									background: @bordercolor;
									height: 1px;
									width: 120px;
									position: absolute;
									left: 0;
									bottom: 0;
								}
								&:after {
									display: none;
								}
							}
						}
						.post-excerpt {
							display: none;
						}
						.post-bottom {
							.opacity(1);
							.scaleY(1);
							line-height: 20px;
							margin-top: 5px;
						}
						.post-date, .comment, .author {
							color: #9d9d9e;
							height: 20px;
							.fa {
								color: @linkcolor;
							}
							a {
								color: #9d9d9e;
								&:hover {
									color: @linkcolor;
								}
							}
						}
					}
				}
			}
		}
	}
}